{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block main %}
    <img class="image-rognage" src="{{ movie.backdrop_path }}" alt="{{ movie.title }}">

    <h1 class="text-dark text-center mt-2">
        {{ movie.title }}
        <a href="{{ path('app_watchlist_item_new', {type: movie.type, idTMDB: movie.id}) }}" title="Ajouter à votre watchlist" class="bi bi-heart text-danger"></a>
    </h1>

    <div class="container pb-5 pt-5">
        <div class="row">
            <div class="col-lg-6 col-sm">
                <div>
                    <div class="card-deck mb-3">
                        <div class="card mb-4 box-shadow box-min-height">
                            <div class="card-header">
                                <p class="text-center my-0 font-weight-normal h4">Informations</p>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled text-start m-0">
                                    <li>Titre original : {{ movie.original_title }}</li>
                                    <li>Langue original : {{ movie.original_language }}</li>
                                    <li>Date de sortie : {{ movie.release_date }}</li>
                                    <li>Durée : {{ movie.runtime }} mins</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card mb-4 box-shadow box-min-height">
                            <div class="card-header">
                                <p class="text-center my-0 font-weight-normal h4">Description</p>
                            </div>
                            <div class="card-body">
                                <p class="justify mb-0">{{ movie.overview }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm">
                <div>
                    <div class="card-deck mb-3">
                        <div class="card mb-4 box-shadow box-min-height">
                            <div class="card-header">
                                <p class="text-center my-0 font-weight-normal h4">Genres</p>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled text-start m-0">
                                    {% for genre in movie.genres %}
                                        <li>- {{ genre }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="card mb-4 box-shadow box-min-height">
                            <div class="card-header">
                                <p class="text-center my-0 font-weight-normal h4">Créateurs</p>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled text-start m-0">
                                    <li>[Non disponible]</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
