{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block main %}
    <img class="image-rognage" src="{{ movie.backdrop_path }}" alt="{{ movie.title }}">

    <img class="poster-on-banner" src="{{ movie.poster_path }}" alt="{{ movie.title }}">

    <div class="d-flex flex-column justify-content-center align-items-center">
        <div  id="title-for-poster-on-banner" class="card box-shadow translate-title-for-poster-on-banner">
            <div class="card-header border-0">
                <h1 class="text-dark text-center mt-2 h3">{{ movie.title }}</h1>
            </div>
        </div>

        <a href="{{ path('app_watchlist_item_new', {type: movie.type, idTMDB: movie.id}) }}" title="Ajouter à votre watchlist" class="bi bi-heart text-danger translate-title-for-poster-on-banner h3 mt-3"></a>
    </div>

    <div class="translate-block-for-poster-on-banner">
        <div class="container pb-5 pt-5">
            <div class="row">
                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">Informations</p>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled text-start m-0">
                                        <li>Titre original : {{ movie.original_title }}</li>
                                        <li>Langue original : {{ movie.original_language }}</li>
                                        <li>Date de sortie : {{ movie.release_date }}</li>
                                        <li>Durée : {{ movie.runtime }} mins</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">Description</p>
                                </div>
                                <div class="card-body">
                                    <p class="justify mb-0">{{ movie.overview }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">Genres</p>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled text-start m-0">
                                        {% for genre in movie.genres %}
                                            <li>- {{ genre }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">
                                        Saga : {{ movie.belongs_to_collection.title }}
                                        <a href="{{ path('app_watchlist_item_new', {type: movie.belongs_to_collection.type, idTMDB: movie.belongs_to_collection.id}) }}" title="Ajouter à votre watchlist" class="bi bi-heart text-danger"></a>
                                    </p>
                                </div>
                                <div class="card-body p-0">
                                    <a href="{{ path(movie.belongs_to_collection.pathName, {id: movie.belongs_to_collection.id}) }}" title="Cliquez pour voir les informations détaillées">
                                        <img class="card-img-top rounded" src="{{ movie.belongs_to_collection.posterPath }}" alt="{{ movie.belongs_to_collection.title }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
