{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block main %}
    {{ component('show-header', {
        backdropPath: movie.backdrop_path,
        posterPath: movie.poster_path,
        name: movie.title,
        type: movie.type,
        id: movie.id,
    }) }}

    <div class="translate-block-for-poster-on-banner">
        <div class="container pb-5 pt-5">
            <div class="pb-5">
                <img class="card-img-top rounded" src="/assets/img/video.jpg" alt="Cliquez pour voir lancer le film">
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">Informations</p>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled text-start m-0">
                                        <li>Titre original : {{ movie.original_title }}</li>
                                        <li>Langue original : {{ movie.original_language }}</li>
                                        <li>Date de sortie : {{ movie.release_date }}</li>
                                        <li>Durée : {{ movie.runtime }} mins</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">Description</p>
                                </div>
                                <div class="card-body">
                                    <p class="justify mb-0">{{ movie.overview }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">Genres</p>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled text-start m-0">
                                        {% for genre in movie.genres %}
                                            <li>- {{ genre }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">
                                        Saga : {{ movie.belongs_to_collection.title }}
                                        <a href="{{ path('app_watchlist_item_new', {type: movie.belongs_to_collection.type, idTMDB: movie.belongs_to_collection.id}) }}" title="Ajouter à votre watchlist" class="bi bi-heart text-danger"></a>
                                    </p>
                                </div>
                                <div class="card-body p-0">
                                    <a href="{{ path(movie.belongs_to_collection.pathName, {id: movie.belongs_to_collection.id}) }}" title="Cliquez pour voir les informations détaillées">
                                        <img class="card-img-top rounded" src="{{ movie.belongs_to_collection.posterPath == 'https://image.tmdb.org/t/p/original' ? '/assets/img/no-backdrop.jpg' : movie.belongs_to_collection.posterPath }}" alt="{{ movie.belongs_to_collection.title }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
