{% extends 'base.html.twig' %}

{% block title %}{{ episode.serie ~ " - " ~ episode.season ~ " - " ~ episode.name }}{% endblock %}

{% block main %}
    {{ component('show-header', {
        backdropPath: episode.poster_path,
        posterPath: episode.poster_path,
        name: episode.serie ~ " - " ~ episode.season ~ " - " ~ episode.name,
        type: episode.type,
        id: episode.id,
    }) }}

    <div class="translate-block-for-poster-on-banner">
        <div class="container pb-5 pt-5">
            <div class="pb-5">
                <img class="card-img-top rounded" src="/assets/img/video.jpg" alt="Cliquez pour voir lancer le film">
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">Informations</p>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled text-start m-0">
                                        <li>Titre de la série : {{ episode.serie }}</li>
                                        <li>Numéro de saison : {{ episode.season_number }}</li>
                                        <li>Numéro de l'épisode : {{ episode.episode_number }}</li>
                                        <li>Date de diffusion : {{ episode.air_date }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">Description</p>
                                </div>
                                <div class="card-body">
                                    <p class="justify mb-0">{{ episode.overview }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
