{% extends 'base.html.twig' %}

{% block title %}{{ season.serie ~ " - " ~ season.name }}{% endblock %}

{% block main %}
    {{ component('show-header', {
        backdropPath: season.poster_path,
        posterPath: season.poster_path,
        name: season.serie ~ " - " ~ season.name,
        type: season.type,
        id: season.id,
    }) }}

    <div class="translate-block-for-poster-on-banner">
        <div class="container pb-5 pt-5">
            <div class="row">
                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">Informations</p>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled text-start m-0">
                                        <li>Titre de la série : {{ season.serie }}</li>
                                        <li>Numéro de saison : {{ season.season_number }}</li>
                                        <li>Date de diffusion : {{ season.air_date }}</li>
                                        <li>Nombre d'épisodes : {{ season.number_of_episodes }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm">
                    <div>
                        <div class="card-deck mb-3">
                            <div class="card mb-4 box-shadow box-min-height">
                                <div class="card-header">
                                    <p class="text-center my-0 font-weight-normal h4">Description</p>
                                </div>
                                <div class="card-body">
                                    <p class="justify mb-0">{{ season.overview }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ component('horizontal-carousel', {
                title: 'Episodes',
                items: season.episodes
            }) }}
        </div>
    </div>
{% endblock %}
