{% extends 'base.html.twig' %}

{% block title %}Watchlist item{% endblock %}

{% block main %}
    {{ component('watchlist-card', {
        id: watchlistCard.id,
        idTMDB: watchlistCard.idTMDB,
        title: watchlistCard.title,
        posterPath: watchlistCard.posterPath,
        pathName: watchlistCard.pathName,
        type: watchlistCard.type
    }) }}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}
