<img class="image-rognage" src="{{ this.backdropPath == 'https://image.tmdb.org/t/p/original' ? '/assets/img/no-backdrop.jpg' : this.backdropPath }}" alt="{{ this.name }}">

<img class="poster-on-banner" src="{{ this.posterPath == 'https://image.tmdb.org/t/p/original' ? '/assets/img/no-poster.jpg' : this.posterPath }}" alt="{{ this.name }}">

<div class="d-flex flex-column justify-content-center align-items-center">
    <div  id="title-for-poster-on-banner" class="card box-shadow translate-title-for-poster-on-banner">
        <div class="card-header border-0">
            <h1 class="text-dark text-center mt-2 h3">{{ this.name }}</h1>
        </div>
    </div>

    <a href="{{ path('app_watchlist_item_new', {type: this.type, idTMDB: this.id}) }}" title="Ajouter à votre watchlist" class="bi bi-heart text-danger translate-title-for-poster-on-banner h3 mt-3"></a>
</div>