<div class="d-flex flex-row watchlist-card">
    <a href="{{ path(this.pathName, {id: this.idTMDB}) }}" title="Cliquez pour voir les informations détaillées">
        <img class= "h-100" src="{{ this.posterPath }}" alt="{{ this.title }}">
    </a>
    <div class="block">
        <p class="h5 text-truncate">Titre : {{ this.title }}</p>
        <p class="h5 text-truncate">Type: {{ this.type }}</p>
        <a href="{{ path('app_watchlist_item_show', {id: this.id}) }}" title="Cliquez pour voir mes informations sur cet item">Voir mes informations sur cet item</a>
    </div>
</div>