<div class="row watchlist-card mb-2">
    <div class="col-1 ">
        <a href="{{ path(this.pathName, {id: this.idTMDB}) }}" title="Cliquez pour voir les informations détaillées">
            <img class="" src="{{ this.posterPath == 'https://image.tmdb.org/t/p/original' ? '/assets/img/no-poster.jpg' : this.posterPath }}" alt="{{ this.title }}">
        </a>
    </div>

    <div class="col-10 watchlist-card-infos">
        <div class="d-flex flex-row ">
            {% if this.type == 'season' %}  <i class="me-3 bi bi-collection-play text-light h3"></i>
            {% elseif this.type == 'movie' %}  <i class="me-3 bi bi-film text-light h3"></i>
            {% elseif this.type == 'saga' %}  <i class="me-3 bi bi-aspect-ratio text-light h3"></i>
            {% elseif this.type == 'serie' %}  <i class="me-3 bi bi-collection text-light h3"></i>
            {% elseif this.type == 'episode' %}  <i class="me-3 bi bi-play-btn text-light h3"></i>
            {% else %}  <i class="me-3 bi bi-0-circle text-light h3"></i>
            {% endif %}
            <h4 class="text-truncate ">{{ this.title }}</h4>
        </div>

        <p class="text-light"> Status </p>

        <a href="{{ path('app_watchlist_item_show', {id: this.id}) }}" title="Cliquez pour voir mes informations sur cet item">Voir mes informations sur cet item</a>
    </div>

    <div class="col-1 d-flex flex-row justify-content-end ">
        <a href="#">
            <i class="bi bi-x text-light h3"></i>
        </a>

{#        <i class="mx-4 bi bi-collection-play text-light h3"></i>#}
    </div>
</div>