<div class="row watchlist-card mb-2">
    <div class="col-1 ">
        <a href="{{ path(this.pathName, {id: this.idTMDB}) }}" title="Cliquez pour voir les informations détaillées">
            <img src="{{ this.posterPath == 'https://image.tmdb.org/t/p/original' ? '/assets/img/no-poster.jpg' : this.posterPath }}" alt="{{ this.title }}">
        </a>
    </div>

    <div class="col-10 watchlist-card-infos">
        <div class="d-flex flex-row ">
            {% if this.type == 'season' %}  <i class="me-3 bi bi-collection-play text-light h3"></i>
            {% elseif this.type == 'movie' %}  <i class="me-3 bi bi-film text-light h3"></i>
            {% elseif this.type == 'saga' %}  <i class="me-3 bi bi-aspect-ratio text-light h3"></i>
            {% elseif this.type == 'serie' %}  <i class="me-3 bi bi-collection text-light h3"></i>
            {% elseif this.type == 'episode' %}  <i class="me-3 bi bi-play-btn text-light h3"></i>
            {% else %}  <i class="me-3 bi bi-0-circle text-light h3"></i>
            {% endif %}
            <h4 class="text-truncate ">{{ this.title }}</h4>
        </div>


        <div class="d-flex flex-row h-50">
            <div class="d-flex flex-column justify-content-end py-2">
                <div class="watchlist-card-status
                    {% if this.status == "Completed" %} status-completed
                    {% elseif this.status == "Plan to watch" %} status-plan
                    {% elseif this.status == "Paused" %} status-paused
                    {% elseif this.status == "Watching" %} status-watching
                    {% endif %}
                ">
                    <p class="text-light"> {{ this.status }} </p>
                </div>
            </div>
        </div>


    </div>

    <div class="col-1 d-flex flex-column ">
        <div class="watchlist-card-right-c d-flex flex-row justify-content-end">
            <a
                    hx-target="#body"
                    hx-get="{{ path('app_watchlist_item_delete', {id: this.id} ) }}"
                    hx-swap="outerHTML"
                    href="#">
                <i class="bi bi-x text-danger h3"></i>
            </a>
        </div>

        <div class="watchlist-card-right-c d-flex flex-column justify-content-end">
            <div class=" d-flex flex-row justify-content-end my-2">
                <div class="dropdown">
                    <button class="button-basic-custom dropdown-toggle h6 mx-3" type="button"
                            id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Status
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item"
                               hx-target="#body"
                               hx-get="{{ path('app_watchlist_item_modify_status', {id:this.id, status: 'Watching'}) }}"
                               hx-swap="outerHTML"
                               hx-indicator="#loading"
                            >Watching</a>

                        </li>
                        <li><a class="dropdown-item"
                               hx-target="#body"
                               hx-get="{{ path('app_watchlist_item_modify_status', {id:this.id, status: 'Plan to watch'}) }}"
                               hx-swap="outerHTML"
                               hx-indicator="#loading"
                            >Plan to watch</a></li>
                        <li><a class="dropdown-item"
                               hx-target="#body"
                               hx-get="{{ path('app_watchlist_item_modify_status', {id:this.id, status: 'Paused'}) }}"
                               hx-swap="outerHTML"
                               hx-indicator="#loading"
                            >Paused</a>
                        </li>
                        <li><a class="dropdown-item"
                               hx-target="#body"
                               hx-get="{{ path('app_watchlist_item_modify_status', {id:this.id, status: 'Completed'}) }}"
                               hx-swap="outerHTML"
                               hx-indicator="#loading"
                            >Completed</a>
                        </li>
                    </ul>
                </div>
                <a class="text-decoration-none loading-activator"
                   hx-target="#body"
                   hx-get="{{ path('app_watchlist_show', {id: this.watchlistId, watchlistItemId: this.id}) }}"
                   hx-swap="outerHTML"
                   hx-indicator="#loading"
                    href="#"
                   title="Cliquer pour voir mes informations sur cet item">
                    {{ component('button', {
                        title: 'Infos',
                    }) }}
                </a>

            </div>
        </div>

    </div>
</div>