{% extends 'base.html.twig' %}

{% block title %}Catalog{% endblock %}

{% block main %}

    <div class="sidebar-container">
        <div id="sidebar" class="sidebar-filter">
            <p class="h4 text-light text-center">Advanced Search</p>



            <div class="input-group">
                <label class="input-group-text" for=""><i class="bi bi-funnel"></i></label>
                <select class="form-select" aria-label="Filter select">
                    <option selected><i class="bi bi-funnel"></i> Filter</option>
                    <option value="1">All</option>
                    <option value="2">Active</option>
                    <option value="3">Inactive</option>
                </select>
            </div>

            <p class="h3">Tri</p>
            <div class="container">

                <p class="h4 text-light text-center">Alphabetical</p>
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                <label class="btn btn-secondary" for="option1">Asc</label>

                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                <label class="btn btn-secondary" for="option2">Desc</label>

            </div>



        </div>

        <div class="sidebar-burger-container">
            <div id="burger-btn" class="sidebar-burger-btn">
                <span class="sidebar-burger-line sidebar-lines-close"></span>
                <span class="sidebar-burger-line sidebar-lines-close"></span>
                <span class="sidebar-burger-line sidebar-lines-close"></span>
            </div>
        </div>


    </div>

    <div class="container w-50 pt-3 ">

        {{ form_start(queryForm) }}
        <div class="input-group mb-3 row search-bar">
            {{ form_widget(queryForm.query) }}
            {{ form_widget(queryForm.search) }}
        </div>
            {{ form_end(queryForm) }}

    </div>


    <div class="container">
        <div id="catalaog-content" class="container pb-5 pt-5 position-relative">
            <div class="row">
                {% for card in catalog %}
                    {{ component('card', {
                        id: card.id,
                        title: card.title,
                        posterPath: card.posterPath,
                        pathName: card.pathName,
                        type: card.type
                    }) }}
                {% endfor %}
            </div>
        </div>

    </div>



    <div class="bottom-buttons">
        <a href="{{ path('app_catalog_index', {page: currentPage - 1}) }}" class="previous round">&#8249;</a>
        <a href="{{ path('app_catalog_index', {page: currentPage + 1}) }}" class="next round">&#8250;</a>
    </div>

    <script>

        let sidebar = document.getElementById("sidebar");
        let main = document.getElementById("main");
        let burgerLines = document.getElementsByClassName("sidebar-burger-line");

        let burgerBtn = document.getElementById("burger-btn");
        let isOpenSideBar = false;
        console.log(burgerLines);


        burgerBtn.addEventListener('click',()=>{
            if(isOpenSideBar){
                burgerBtn.style.flexDirection = 'row'
                sidebar.style.display = 'block';
                for(let item of burgerLines){
                    item.classList.remove('sidebar-lines-close')
                    item.classList.add('sidebar-lines-open')

                }
                isOpenSideBar = !isOpenSideBar
            }
            else{
                burgerBtn.style.flexDirection = 'column'
                sidebar.style.display = 'none'
                for(let item of burgerLines){
                    item.classList.remove('sidebar-lines-open')
                    item.classList.add('sidebar-lines-close');
                }
                isOpenSideBar = !isOpenSideBar
            }


        })





    </script>

{% endblock %}


